@import "tailwindcss";

html,body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Infinite scroll animation */
.slider-track {
  animation: scroll-x 30s linear infinite;
  width: max-content;
}

.team-card:hover ~ .slider-track,
.slider-track:hover {
  animation-play-state: paused !important;
}

/* Infinite seamless effect */
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes iconMove {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(3px);
  }
}

.animate-iconMove {
  animation: iconMove 2.5s ease-in-out infinite;
}